# Composer Related
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage

_iwscripts/*
_scripts

.tags

* of *.*
*-[2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*-[2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9].*
*-[2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9].*
*-[2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9].*
*-[2][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[a-z]*

## ----------------
## OS System Files
## ----------------
._*
.VolumeIcon.icns
.fseventsd
ehthumbs.db
Thumbs.db
.DS_Store
.com.apple.timemachine.supported